In [4]:
#RETURN FUCNTION KI VALUE KO KISI VARIABLE MN ASSIGN KAR SKTY HN
li = []
names = ['A','B','C','D']
print(names)
a = names.pop()
li.append(a)
print(names)
print(li)

a = names.pop()
li.append(a)
print(names)
print(li)

['A', 'B', 'C', 'D']
['A', 'B', 'C']
['D']
['A', 'B']
['D', 'C']

In [5]:
#RETURN FUCNTION KI VALUE KO KISI VARIABLE MN ASSIGN KAR SKTY HN
li = []
names = ['A','B',"B",'C','D']
print(names)
a = names.pop(2)

print(names)

['A', 'B', 'B', 'C', 'D']
['A', 'B', 'C', 'D']

In [14]:
#RETURN FUCNTION KI VALUE KO KISI VARIABLE MN ASSIGN KAR SKTY HN
li = []
names = ['A','B','B','C','C','D']
print(names)
print(names.index('B'))
index = names.index('B')
a = names.pop(index)

print(names)
#OR SIMPLY DO THIS BY
a = names.remove('C')
print(names)

['A', 'B', 'B', 'C', 'C', 'D']
1
['A', 'B', 'C', 'C', 'D']
['A', 'B', 'C', 'D']

In [39]:
names = ['A','B','B','C','C','D','z','y','x']
names.copy()
print(names.count("B"))
names.extend('c')
print(names)
names.insert(1,'l')
print(names)
names.reverse()
print(names)
names.sort()
print(names)
names.sort(reverse=True)
print(names)
names.clear()
print(names)

2
['A', 'B', 'B', 'C', 'C', 'D', 'z', 'y', 'x', 'c']
['A', 'l', 'B', 'B', 'C', 'C', 'D', 'z', 'y', 'x', 'c']
['c', 'x', 'y', 'z', 'D', 'C', 'C', 'B', 'B', 'l', 'A']
['A', 'B', 'B', 'C', 'C', 'D', 'c', 'l', 'x', 'y', 'z']
['z', 'y', 'x', 'l', 'c', 'D', 'C', 'C', 'B', 'B', 'A']
[]

In [47]:
names = ['A','B','B','C','C','D','z','y','x']
print('C' in names)
names.__contains__('D')

True

True

In [50]:
names = ['A','B','B','C','C','D','z','y','x']
names.__delitem__(1)
print(names)

['A', 'B', 'C', 'C', 'D', 'z', 'y', 'x']

In [56]:
names = ['A','B','B','C','C','D','z','y','x']
names1 = ['A','B','B','C','C','D','z','y','D']
names2 = ['x','A','B','B','C','C','D','z','y']
print(names.__eq__(names1))
print(names.__eq__(names2))

False
False

# TUPLES

In [58]:
li = ['a','b','c']
li[0] = "new"
print(li)
#THIS CAN NOT BE DONE IN TUPLE BECAUSE TUPLE VALUES CAN NOT BHE UPDATED
tupple = ('a','b','c')
tupple[0] = 'new'
print(tupples)

['new', 'b', 'c']

TypeError: 'tuple' object does not support item assignment

In [62]:
counter = 1             #COUNTER
while counter <= 10:    #LOGIC
    print("pakistan",counter)
    counter +=1         #INCREMENTER

pakistan 1
pakistan 2
pakistan 3
pakistan 4
pakistan 5
pakistan 6
pakistan 7
pakistan 8
pakistan 9
pakistan 10

In [63]:
counter = 1000             #COUNTER
while counter >= 990:    #LOGIC
    print("pakistan",counter)
    counter -=1         #INCREMENTER

pakistan 1000
pakistan 999
pakistan 998
pakistan 997
pakistan 996
pakistan 995
pakistan 994
pakistan 993
pakistan 992
pakistan 991
pakistan 990

In [64]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
for i in range(1,11):
    print('Pakistan'+str(i))

Pakistan1
Pakistan2
Pakistan3
Pakistan4
Pakistan5
Pakistan6
Pakistan7
Pakistan8
Pakistan9
Pakistan10

In [77]:
["PAKISTAN"+str(i) for i in range(1,11)]

['PAKISTAN1',
 'PAKISTAN2',
 'PAKISTAN3',
 'PAKISTAN4',
 'PAKISTAN5',
 'PAKISTAN6',
 'PAKISTAN7',
 'PAKISTAN8',
 'PAKISTAN9',
 'PAKISTAN10']

In [78]:
for i in range(1,11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [80]:
[print (2*i) for i in range(1,11)]

2
4
6
8
10
12
14
16
18
20

[None, None, None, None, None, None, None, None, None, None]

In [81]:
for i in range(1,11):
    print("2 X "+str(i)+"="+str(i*2))

2 X 1=2
2 X 2=4
2 X 3=6
2 X 4=8
2 X 5=10
2 X 6=12
2 X 7=14
2 X 8=16
2 X 9=18
2 X 10=20

In [84]:
for i in range(1,11):
    print(f'2 X {i} = {i*2}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
input("Number:")
for i in range(1,number):
    for n in range(1,11):
        print(i*n)

In [30]:
number = int(input("Number : "))
for i in range(1,11 ):
    for n in range(1,number + 1):
        print(f'{n} X {i} = {n * i}', end='\t')
    print()

Number : 3
1 X 1 = 1	2 X 1 = 2	3 X 1 = 3
1 X 2 = 2	2 X 2 = 4	3 X 2 = 6
1 X 3 = 3	2 X 3 = 6	3 X 3 = 9
1 X 4 = 4	2 X 4 = 8	3 X 4 = 12
1 X 5 = 5	2 X 5 = 10	3 X 5 = 15
1 X 6 = 6	2 X 6 = 12	3 X 6 = 18
1 X 7 = 7	2 X 7 = 14	3 X 7 = 21
1 X 8 = 8	2 X 8 = 16	3 X 8 = 24
1 X 9 = 9	2 X 9 = 18	3 X 9 = 27
1 X 10 = 10	2 X 10 = 20	3 X 10 = 30