In [1]:
user = input("User Name")
password = input("Password")

user == "Admin" and password == "123"

User NameAdmin
Password123

True

In [3]:
user = input ("User Name: ")
password = input("Password: ")

(user == "Admin") & (password == "123")

User Name: Admin
Password: 123

True

In [7]:
user = "ali"
password = "123"
print(not(user == "123" and passsword == "ali"))
##
not(user == "ali" and password == "123")

True

False

# BITEWISE OPERATORS

In [9]:
29 ^ 29

0

In [10]:
~29 #compliment

-30

In [11]:
28 & 28

28

In [12]:
28 | 28

28

In [13]:
28 | 29

29

In [14]:
28 & 29

28

In [18]:
name = ["waleed","zain","hamza"]
i=0
while i < len(name):
    if name[i]=="zain":
        print(True)
        break
    i +=1

True

In [16]:
names = ["waleed","zain","hamza"]
"zain" in names

True

In [19]:
name = input("enter Name : ")
"waleed" in name

enter Name : asdklja sldkj alksjd wlalsdlaw awaled waleed als;dk

True

In [21]:
name = input("Enter Name : ")
"waleed" not in name

Enter Name : aasd

True

In [22]:
user = input()
user = user.split()
print(user)

waleed zain hamza ilas
['waleed', 'zain', 'hamza', 'ilas']

# IDENTITY OPERATORS

In [26]:
a = '5'
b = 5
c = a 
print (a is b)
print (a is c)

False
True

In [28]:
print(id(a))
print(id(c))
print(id(b))

1928439713456
1928439713456
140728695562768

In [29]:
a = '5'
b = 5
c = '5'
print (a is b)
print (a is c)

False
True

In [30]:
id(a)==id(c)

True

# CONTROL FLOW
if else elif

In [31]:
if False:
    print("pakkistan")
else:
    print("zindabad")

zindabad

In [40]:
name = input()
password = input()
if (name == "waleed") | (name == "zain") | (name == "hamza") and password == "123":
    print("True")
else:
    print ("False")

waleed
123
True