In [26]:
grades =  input("Enter your grades: ")
if (int(grades) >= 90):
    print("A")
elif (int(grades) >= 80):
    print("B")
elif (int(grades) >= 70):
    print("C")
elif (int(grades) >= 60):
    print("D")
elif (int(grades) <= 60):
    print("E")

Enter your grades: 190
A

In [8]:
days = input("enter number of days DVD rented: ")
time = input("enter current time: ")
if(int(time) > 8):
    cost = (days) * 1.59 
    print(str(cost))

enter number of days DVD rented: 2
enter current time: 9

TypeError: can't multiply sequence by non-int of type 'float'

In [5]:
##LIST

In [6]:
#UPPER LIMIT IS NOT INCLUDED IN FRUIT[1:5] == FRUIT [-6:-2]

##FRUIT[4:-7:1] IS WRONG BC GOING RIGHT TO LEFT AND NEGATIVE INCREMENT
##TRHIRD ELEMENT IS FOR INCREMENT
##

In [14]:
##UPPER LIMIT IS NOT INCLUDED 
for i in range(1,10,1):
    print(str(i*2))

2
4
6
8
10
12
14
16
18

In [18]:
numbers = [0,1,2,3,4,5,6,7,8,9]
index = 0
while(index < 10):
    print(numbers[index])
    if(numbers[index] == 6):
        break
    else:
        index += 1

0
1
2
3
4
5
6

In [19]:
personData = {
    "name" : "waleed",
    "age" : 19,
    "job" : "dev",
    "city" : "islamabad",
}

In [20]:
hobbies = ["reading","gaming","traveling"]

In [22]:
#ADDING A LIST IN DICT
personData["hobbies"] = hobbies
personData

{'name': 'waleed',
 'age': 19,
 'job': 'dev',
 'city': 'islamabad',
 'hobbies': ['reading', 'gaming', 'traveling']}

In [24]:
#FAIDA YE HAI K AIK HE COMAND MN MULTIPLE LIST ADD KAR SKTY HN
personData.update({
    "hobbies" : hobbies
})
personData

{'name': 'waleed',
 'age': 19,
 'job': 'dev',
 'city': 'islamabad',
 'hobbies': ['reading', 'gaming', 'traveling']}

In [30]:
workExperience = {
    "jobTitle" : "Ai Dev",
    "startDate" : 2018,
    "endDate" : 2019
}
newList = [1,2,3]

In [33]:
personData.update({
    "newList" : newList,
    "experience": workExperience
})
personData

{'name': 'waleed',
 'age': 19,
 'job': 'dev',
 'city': 'islamabad',
 'hobbies': ['reading', 'gaming', 'traveling'],
 'experience': {'jobTitle': 'Ai Dev', 'startDate': 2018, 'endDate': 2019},
 'newList': [1, 2, 3]}

In [34]:
personData["name"]

'waleed'

In [35]:
personData["experience"]

{'jobTitle': 'Ai Dev', 'startDate': 2018, 'endDate': 2019}

In [39]:
personData.get("name","not Exists")

'waleed'

In [38]:
personData.get("sa","not Exists")

'not Exists'

In [41]:
personData["experience"]
personData["experience"]["startDate"]

2018

In [43]:
#LIST CONTAINING MULTIPLE DICTIONARIES 
list=[]
flag = ''
while flag.lower() != 'n':
    dict1 = {
        "id":input("please enter id: "),
        "name":input("please enter name: "),
        "skilss":input("please enter skils: ").split()
    }
    list.append(dict1)
    flag = input("enter n/N to exit or any other key to Continue: ")
list

please enter id: 1645
please enter name: zain
please enter skils: dev web android
enter n/N to exit or any other key to Continue:
please enter id: 1691
please enter name: hasham
please enter skils: ali noob gaming
enter n/N to exit or any other key to Continue: n

[{'id': '1645', 'name': 'zain', 'skilss': ['dev', 'web', 'android']},
 {'id': '1691', 'name': 'hasham', 'skilss': ['ali', 'noob', 'gaming']}]

In [51]:
task_list = []
flag = ''
while flag != 'n':
    task_dict = {
         "name" : input("please enter name"),
         "marks" : {
              "math":input("enter math marks: "),
              "english":input("enter math marks: "),
              "science":input("enter math marks: ")
         },
         "hobbies" : input("Please enter hobbies seperated by ,: ").split(",")
    }
    task_list.append(task_dict)
    flag = input("enter n/N to exit or any other key to Continue: " )
task_list

please enter namewaleed
enter math marks: 10
enter math marks: 20
enter math marks: 30
Please enter hobbies seperated by ,: gaming,dev
enter n/N to exit or any other key to Continue: n

[{'name': 'waleed',
  'marks': {'math': '10', 'english': '20', 'science': '30'},
  'hobbies': ['gaming', 'dev']}]