In [1]:
5 + 7 - 8 *(2/2) + 200
#this is a commment

204.0

In [3]:
a=8
b=8
print(a)
print(b)
print(id(a))
print(id(b))

8
8
140728338588272
140728338588272

In [4]:
a=7
type(a)

int

In [6]:
a="pakistan"
type("pakistan")

str

In [8]:
#TYPECASTING
#CONVERTING ONE DATATPYE TO ANOTHER
int('1') + int("2")

3

In [9]:
7 +  int('2')

9

In [10]:
a = "a"
a * 2

'aa'

In [26]:
#OPERATOR OVERLOADING 
a = "waleed" * 2
a *= 2
print(a)

waleedwaleedwaleedwaleed

In [31]:
names = ["waleed","hamza", "junaid",200]
print(type(names))
print(names)

<class 'list'>
['waleed', 'hamza', 'junaid', 200]

In [30]:
names = ("waleed","hamza", "junaid",200)
print(type(names))
print(names)

<class 'tuple'>
('waleed', 'hamza', 'junaid', 200)

In [33]:
names = {"waleed","hamza", "junaid",200}
print(type(names))
print(names)

<class 'set'>
{'junaid', 'hamza', 'waleed', 200}

In [39]:
#INDEX     0        1         2      3
names = ["waleed","hamza", "junaid",200]
#INDEX     -4        -3         -2      -1
print(type(names))
print(names[1])
print(names[-3])

<class 'list'>
hamza
hamza

In [40]:
#INDEX     0        1         2      3
names = ("waleed","hamza", "junaid",200)
#INDEX     -4        -3     -2      -1
print(type(names))
print(names[1])
print(names[-3])

<class 'tuple'>
hamza
hamza

In [47]:
#INDEX     IS NOT POSSIBLE
names = {"waleed","hamza", "junaid",200 ,"HAMZA"}
#INDEX     
print(type(names))
print(names)
#REMOVES REPETITION
#print(names[1]) not possible because it is a set
#FIRST CONVERT THIS SET INTO LIST
names = list(names)
print(names[1])
print(names[-3])

<class 'set'>
{200, 'hamza', 'waleed', 'HAMZA', 'junaid'}
hamza
waleed

In [55]:
data = {
    "name": "waleed",
    "fname": "hafeez",
    5 : "pakistan",
    "a":[True,"PAKISTAN",20,3.0]
}
print(data['name'])
print(data[5])
print(data['a'])

waleed
pakistan
[True, 'PAKISTAN', 20, 3.0]

In [61]:
a = "waleed"
#PRESS TAB to check methods applyable and this as well
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [72]:
a = "waleed"
print(a.upper())
print(a)
a = a.capitalize()
a

WALEED
waleed

'Waleed'

In [73]:
a = "waleed khan"
print(a)
a = a.title()
a

waleed khan

'Waleed Khan'

In [89]:
a = "            waled    khan    "   
print(len(a))

print(a)

print(a.lstrip())

print(len(a.lstrip()))

print(a.rstrip())

print(len(a.rstrip()))

print(a.strip())

print(len(a.strip()))

29
            waled    khan
waled    khan
17
            waled    khan
25
waled    khan
13

In [94]:
b = a.split()
b
a.split()

['waled', 'khan']

In [99]:
#JOINING LIST ELEMENTS 
" 1 ".join(b)

'waled 1 khan'

In [105]:
                                         #SLICING
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]
a = "we are pakistani we love our country!"
print(a)

print(a[::])

print(a[7:16:])

we are pakistani we love our country!
we are pakistani we love our country!
pakistani

In [107]:
print(a)
a.index("pakistan")

we are pakistani we love our country!

7

In [110]:
print(a)
a[a.index("pakistan"):15]

we are pakistani we love our country!

'pakistan'

In [112]:
a = "1231230-as0da-s0dafoj1-23-132"
"".join(i for i in a if str.isnumeric(i))

'123123000123132'

In [114]:
card = """
BAHRIA UNIVERSITY ISLAMABAD
name: waleed
fname: hafeez
Program: PIAIC
"""
print(card)

BAHRIA UNIVERSITY ISLAMABAD
name: waleed
fname: hafeez
Program: PIAIC

In [119]:
name="waleed"
fname="hafeez"
program="PIAIC"
age = 20

card = """
BAHRIA UNIVERSITY ISLAMABAD
name: %s   
fname:  %s 
Program: %s
age    : %d
"""
print(card%(name,fname,program,age))
# %d IS USED FOR INTEGER AND %f IS USED FOR FLOAT

BAHRIA UNIVERSITY ISLAMABAD
name: waleed
fname:  hafeez
Program: PIAIC
age    : 20

In [124]:
name="waleed"
fname="hafeez"
program="PIAIC"
age = 20

#THIS f IS SO IMPORTANT THIS IS SYNTAX
card = f"""
BAHRIA UNIVERSITY ISLAMABAD
name: {name}  
fname:  {fname}
Program: {program}
age    : {age}
"""
print(card)

BAHRIA UNIVERSITY ISLAMABAD
name: waleed
fname:  hafeez
Program: PIAIC
age    : 20

In [126]:
name="waleed"
fname="hafeez"
program="PIAIC"
age = 20

#THIS f IS SO IMPORTANT THIS IS SYNTAX
card = """
BAHRIA UNIVERSITY ISLAMABAD
name: {}  
fname:  {}
Program: {}
age    : {}
"""
print(card.format(name,fname,program,age))

BAHRIA UNIVERSITY ISLAMABAD
name: waleed
fname:  hafeez
Program: PIAIC
age    : 20

In [127]:
name="waleed"
fname="hafeez"
program="PIAIC"
age = 20

#THIS f IS SO IMPORTANT THIS IS SYNTAX
card = """
BAHRIA UNIVERSITY ISLAMABAD
name: {a}  
fname:  {b}
Program: {c}
age    : {d}
"""
print(card.format(a=name,b=fname,c=program,d=age))

BAHRIA UNIVERSITY ISLAMABAD
name: waleed
fname:  hafeez
Program: PIAIC
age    : 20

In [141]:
name = "waleed"
fname = "hafeez"
progra = "PIAIC"
age : 20
print("Bahria University Islamabad \n Student Name: "+name+"\nFather Name:"+fname+"\nPROGRAM:"+progra)
print("**********************************************")
print("Bahria University Islamabad \n Student Name: "+name+"\nFather Name:"+fname+"\nPROGRAM:"+progra+"\nage:"+str(age))

Bahria University Islamabad
 Student Name: waleed
Father Name:hafeez
PROGRAM:PIAIC
**********************************************
Bahria University Islamabad
 Student Name: waleed
Father Name:hafeez
PROGRAM:PIAIC
age:20